:root {
    --primary: white;
    --primary-dark: #faf9f9;
    --primary-dark2: #bbb;
    --font-main: #555252;
    --green: rgb(24, 154, 97);
    --red: rgb(219, 61, 61);
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif !important;
}

.main-box{
    max-width: 400px;
    min-height: 600px;
    border: 1px solid black;
    background-color: var(--primary-dark);
}

/*.title{
    background-color: lightcoral;
}

.balance{
    background-color: rgb(255, 202, 251);
}*/

.bal-title{
    font-size: 1.25rem;
}

/*.tab-inc-exp{
    background-color: rgb(249, 240, 192);
}

.history{
    background-color: lightgreen;
}

.new-transac{
    background-color: lightskyblue;
}
*/


h5{
    border-bottom: 2px solid #bbb;
    padding: 5px;
}

h4{
    text-transform: uppercase;
}

#balance{
    margin: 0;
}

.inc-exp-container{
    background-color: white;
    box-shadow: var(--box-shadow);
}

.inc-exp-container > div {
    flex: 1 1 50%;
    text-align: center;
}

.inc-exp-container > div:first-of-type{
    border-right: 2px solid #dedede;
}

.earn-amt{
    color: var(--green);
}

.exp-amt{
    color: var(--red);
}

label{
    display: inline-block;
}

/*
    input css will be applied to the text and number types.
*/

input[type="text"],input[type="number"]{
    border: 1.5px solid var(--primary-dark2);
    height: 2.3rem;
    padding-left: 0.7rem;
    display: block;
    width: 100%;
}

.transac-btn{
    background-color: #9c88ff;
    color: white;
    font-size: 1.2rem;
    border: none;
    width: 100%;
    height: 2.5rem;
    box-shadow: var(--box-shadow);
}

.transac-btn:focus,.delete-btn:focus{
    outline: 0;
}

.hist-list{
    list-style-type: none;
    padding: 0;
}

.hist-list li{
    background-color: white;
    box-shadow: var(--box-shadow);
    color: var(--font-main);
    display: flex;
    justify-content: space-between;
}

